*{
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
}

body
{
    font-family: 'Roboto', sans-serif;
    background-color: #CEE5D0;
    color: #536FFF;
}

/* main{
    display: flex;
    flex-wrap: wrap; /* CAMBIAR EN LA VERSION PC
    background-color: #CEE5D0;
}  
creo que no afecta el login si está desactivado 
*/



/*------ HEADER GENERAL ------*/

div.top-header
{
    background-color: #FF7070;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.logo{
    display: flex;
    width: 15%;
}

.imagen-logo{
    width: 45px;
}

.imagen-logo, .form-busqueda, .cart, .login, .darkmode
{
    align-self: center;
    
}

.cart, .login {
    width: 15%;
}

.top-header div.form-busqueda {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.form-busqueda form{
    width: 100%;
    justify-content: space-around;
    padding: 5px;
}

.form-busqueda input{
    width: 80%;
    border:0;
    background-color: #F3F0D7;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
}

.form-busqueda button{
    width: 10%;
    border:0;
    background-color: #F3F0D7;
    border-radius: 20px;
    padding: 5px;
}

/*--- barra de navegacion ---*/

div.button-header
{
    display: none;
    background-color: #FED2AA;
}

div.button-header nav ul
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 5px;
}

.button-header ul li{
    list-style-type: none;
}

.button-header ul li a{
    text-decoration: none;
    color: #FF7070;
    transition: all 0.3s;
}

.button-header ul li a:hover{
    color: #536FFF;
}

.iconosHeader {
    display: none;
    align-items: center;
    width: 22%;
    justify-content: space-around;
    
}

.iconH i {
    color: #FED2AA;
    font-size: 20px;
}

div.burger-menu{
    display: flex;
    font-size: 20px;
    align-items: center;
    padding: 6px;
    margin: 5px 2px;
    color: #FF7070;
    background-color: #FED2AA;
    border-radius: 5px;
}

/*------ FIN HEADER GENERAL ------*/

/*------------------- HOME ------------------*/

/*-------------------carrusel-------------*/
/*.carrusel-caja{
    display: none;
}*/

.slider{
    display: none;
}

/*----------------------MAIN HOME----------------------*/
main section article img{
    width: 25%;
}

main{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

/*----------------------FILTRADO Home----------------------*/

.filtrado-contenedor{
    width: 25%;
    padding: 10px;
    display: none;
}

.filtrado{
    padding: 20px;
    background-color: #F3F0D7;
    border-radius: 10px;
}

.filtrado div {
    padding-top: 10px;
}

.filtrado div label{
    padding-bottom: 10px;
}

.filtrado div select{
    margin: 5px;
    width: 100%;
    border:0;
    background-color: white;
    padding: 6px;
    border-radius: 10px;
    color:#536FFF;
}

.filtrado div select option{
    border:0;
    padding: 5px;
    border-radius: 10px;
}

/*----------------productos------------*/

.productos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.productos h3{
    padding: 10px;
}

/*----------------destacados------------*/

.destacados, .ofertas{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.destacados article , .ofertas article{
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    background-color: #F3F0D7;
    border-radius: 10px;
    transition: all 0.3s;
}


.destacados img , .ofertas img{
    width: 100%;
}

.main-article h4{
    text-align: left;
}

.main-article p{
    margin: 5px;
    font-size: 15px;
}

.contenedor-precio p.precio{
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.contenedor-precio{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.contenedor-precio button{
    border: 0;
    border-radius: 15px;
    background-color: #FF7070;
    color: #F3F0D7;
    margin: 5px;
    font-size: 20px;
    padding: 5px;
}

/*------------------ FIN HOME --------------*/

/*------  MAIN LOGIN ------*/

main .formLogin {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F3F0D7;
    color: #000000;
    margin: 3% auto;
    padding: 3%;
    border-radius: 20px;
    width:70% ;
}

main .formLogin div {
    display: block;
    padding: 2% 3%;
    width: 100%;
    margin: auto;

}

.saludo{
    display: flex;
    text-align: center;
}
.saludo i {
    color: #FF7070;
    font-size: 60px;;
}

#usuario, #contraseña {
    margin: 3% 0px;
    border: none;
    border-radius: 30px;
    width: 100%;
    padding: 5%;
    box-shadow: -4px 4px 2px #B0B8FF;
    display: block;
    text-align: left;
    background-color: #ffffff;
    font-size: 15px;
}

.ingresoA a, .ingresoB a{

    margin: 3% 0px;
    border: none;
    border-radius: 30px;
    width: 100%;
    padding: 5%;
    box-shadow: -4px 4px 2px #B0B8FF;
    display: block;
    text-align: center;
    background-color: #ffffff;
    font-size: 15px;
}

.ingresoB a{
    background-color:#0044AA;
    border-radius: 20px;
    color: #F3F0D7;
}

.saludo h2, div h3{
    color: #536FFF;
}

.buttonLogin{
    width: 40% ;
    text-align: center;
    font-size: 15px;
    color: #F3F0D7;
    padding: 5px;
    background-color:#FF7070;
    border: 0;
    border-radius: 20px;
    box-shadow: -4px 4px 2px #B0B8FF;
}

.send{
    display: block;
    text-align: center;
}

.ingresoA a, .ingresoB a{
    text-decoration: none;
}
.ingresoA a i {
    color: red;
    
}

/*------ FIN MAIN LOGIN ------*/


/* ------ MAIN REGISTER ------*/

.register {
    width: 100%;
    display: block; /*flex en desk*/
    padding: 20px;
    justify-content: space-around;
    margin:auto
}

.continuar div input.dato{
    border:0;
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    box-shadow: -4px 4px 2px #B0B8FF;
}

.continuar div{
    padding: 10px;
    text-align: left;
}

.register div form h3{
    padding: 10px;
    color: #536FFF;
}

.continuar h4{
    padding: 10px;
    color: #536FFF;
}

.register div{
    width: 100%;
    padding: 10px;
}

.register div form.continuar{
    background-color: #F3F0D7;
    border-radius: 20px;
    padding: 25px;
}

.continuar div.otrasOpciones{
    display: flex;
    justify-content: space-around;
}

.continuar div.botones{
    display: flex;
    justify-content: space-around;
}

button.botonRegistro{
    justify-content: space-around;
    width:45%;
    font-size: 20px;
    color: #F3F0D7;
    padding: 10px;
    background-color:#FF7070;
    border: 0;
    border-radius: 20px;
    box-shadow: -4px 4px 2px #B0B8FF;
}

button.google{
    width: 90%;
    font-size: 15px;
    padding: 10px;
    background-color:white;
    border: 0;
    border-radius: 20px;
    box-shadow: -4px 4px 2px #B0B8FF;
}

button.google i{
    padding-left: 10px;
    color: red;
}

button.facebook{
    width: 90%;
    font-size: 15px;
    padding: 10px;
    background-color:#0044AA;
    border: 0;
    border-radius: 20px;
    color: #F3F0D7;
    box-shadow: -4px 4px 2px #B0B8FF;
}

button.facebook i{
    padding-left: 5px;
    color: #F3F0D7;
}


/* ------ FIN MAIN REGISTER ------*/



/* ------ FOOTER GENERAL ------*/

.footer-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ; 
    width: 100%; 
    padding: 0px; 
    margin-top: 0px;
    background-color: #FF7070;
    flex-direction: column;
    align-items: center;
}

.imglogos {
    width: 50%;
    margin: auto;
    
}

/*--- redes ---*/

.seguinos, .mediospago {
    font-size: 22px;
    width: 100%;
    text-align: center;
}

.seguinos h4, .mediospago h4{
    padding: 10px;
    font-size: 20px;
}

.seguinos i{
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    width: 20%;
}

#face, #twitter, #insta{
    color: #F3F0D7;
}


/*--- medios de pago ---*/

.imagen-foot {
    width: 22%;
}

.imglogos {
    width: 50%;
}

.mediospago i{
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 30px;
} 

/*--- suscribite ---*/

.suscribe{
    width: 70%;
    font-size: 22px;
    padding: 10px;
    background-color: #F3F0D7;
    border-radius: 10px;
    box-shadow: -4px 4px 2px #B0B8FF;
    text-align: center;
}

.enemy{
    padding: 6px;
}

input.enemy{
    width: 90%;
    padding: 6px;
    border: 0;
    border-radius: 10px;
    box-shadow: -4px 4px 2px #B0B8FF;
    font-size: 90%; 
    margin-bottom: 10px;
}

button.enemy{
    font-size: 16px;
    padding: 6px;
    color: #F3F0D7;
    background-color:#FF7070;
    border: 0;
    border-radius: 10px;
    box-shadow: -4px 4px 2px #B0B8FF;
}

.suscribe h4{
    padding: 10px;
    font-size: 20px;
    width: 33%;
} 

/*------ FIN FOOTER GENERAL ------*/

/*------ MEDIA QUERIES TABLET ------*/

@media (min-width: 361px){

/*--- HEADER ---*/
    div.burger-menu{
        display: none;
    }

    .iconosHeader {
        display: flex;
    }

    div.button-header{
        display: block;
    }

    .form-busqueda button{
        width: 8%;
    }
    
    #iconCuenta{
        position: static;
        cursor: pointer;
    }
    
    .login_desplegable_header{
        display: block;
        text-align: center;
        margin-bottom: 14px;
    }
    
    .login_desplegable {
        position: absolute;
        right: 2px;
        box-sizing: border-box;
        opacity: 0;
        width: 106px;
        background-color: white;
        padding: 5px;
        z-index: -2;
        box-shadow: 0 3px 6px #B0B8FF;
        transition: all 1s;
    }
    
    .login_desplegable_login{
        display:block;
        text-align: center;
    }
    
    .login_desplegable_signup{
        display:block;
        text-align: center;  
    }

    /*------------HOME---------*/

    .productos{
        margin: 3px auto;
        flex-wrap: wrap;
    }

    .destacados, .ofertas{
        flex-wrap: wrap;
        flex-direction: row;
    }
    

    .destacados article, .ofertas article{
        width: 45%;
    }

    .inputCheck /*pa borrar ese feo checkbox*/{
        position: absolute;
        display: none;
    }
    
    .inputCheck:checked + .login_desplegable{
    
        opacity: 1;
        z-index: 10;
    }

    #carritoS{
        margin-right: 12px;
    }

/*--- LOGIN ---*/
    
    main .formLogin{
        width: 50%;
    }

    .button{
        font-size: 20px;
    }


/*--- REGISTER ---*/

    .register{
        width: 80%;
        
    }


/*--- FOOTER ---*/

    .footer-contenedor {
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px 0px; 
        flex-direction: row;
        width: 100%;
    }

    .seguinos , .mediospago , .suscribe{
        width: 33%;
    }

    input.enemy{
        font-size: 16px;
    }
}



/*------ MEDIA QUERIES DESKTOP ------*/
@media (min-width: 769px){

/*--- HEADER ---*/
    .form-busqueda button{
        width: 5%;
    }

    .iconH i {
        font-size: 24px;
    }

/* ------------HOME------------*/
    .filtrado-contenedor{
        width: 25%;
        padding: 10px;
        display: block;
        margin: 5px;
    }

    .productos{
        width: 70%;
    }

    .destacados article, .ofertas article{
        margin: 5px;
        width: 22%;
    }

    .destacados article:hover, .ofertas article:hover {
        box-shadow: -4px 4px 2px #B0B8FF;
        width:25%;
    }

    .slider{
        display: block;
        width: 100%;
        overflow: hidden;
    
    }
    
    .slider ul{
        padding: 0;
        display: flex;
        width: 400%;
        animation: cambiox 13s infinite alternate;
    
    }
    
    .slider li{
        width: 100%;
        list-style: none;
    }
    
    .slider img{
        width: 100%;
    }
    
    @keyframes cambiox{
        0% {margin-left:0;}
        20% {margin-left:0;}
        /*se tarda 1 seg en una imagen a otra 20x0.05*/
        25% {margin-left:-100%;}
        45% {margin-left:-100%;}
    
        50% {margin-left:-200%;}
        70% {margin-left:-200%;}
    
        75% {margin-left:-300%;}
        100% {margin-left:-300%;}
    }

    .login_desplegable {
        right: -35px;
    }

    .iconosHeader
    {
        position: static;
    }

    #iconCuenta
    {
        position: relative;
    }

/*--- LOGIN ---*/
    main .formLogin{
        width: 40%;
    }


/*--- REGISTER ---*/

    .register {
        display: flex; 
        width: 100%;
    }
}