<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalle del producto</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/css/productDetail.css">
        <link rel="icon" href="./images/logoIcon.ico">
    </head>
    <body>
        <%- include("../partials/header") %>
        <main>
            <section class="producto">
                <!-- <div class="tituloYPrecio">
                    <p class="tituloP">Calculadora CASIO FX-666</p>
                    <p class="precioP">$20.000</p>
                </div>  se repite a la izquierda del producto, el precio está más abajo porque va en el div que queda a la derecha --> 
                <div class="imagenesProdContenedor">
                
                <div class="imagen-producto">
                    <img src="../images/calculadora1.png" class="cartuchera">
                </div>
                
                <div class="imagen-producto-hijas">
                    <div class="prodHija"><img src="../images/calculadora2.png" alt=""></div>
                    <div class="prodHija"><img src="../images/calculadora3.png" alt=""></div>
                    <div class="prodHija"><img src="../images/calculadora4.png" alt=""></div>
                </div>
                

                <!-- <div class="cantidadYCarrito">
                    <div class="cantidad">
                    <label for="">Cantidad: 
                    <input type="number" class="cantidadInput" minlength="0" maxlength="15">
                    </label>
                    </div>

                    <div class="carrito">
                        <button type="button" class="botonDetalle"><i class="fas fa-cart-plus"></i> Agregar a carrito</button>
                        
                    </div>
                </div>

                <div class="compartir">
                    <i class="fas fa-share-alt"></i> Compartir
                </div>

                <div class="descuentoYPedido">
                    <div class="descuento">
                        <input type="text" class="descuentoInput" placeholder="Código de descuento">
                    </div>
                    <div class="Pedido">
                        <button type="button" class="botonDetalle"><i class="fas fa-truck"></i> Calcular envio</button>
                    </div>
                </div> 
                
                ---lo cambio al div derecho  -->
                
            </div>
                <div class="descripcionTotalProducto">
                    <h4 class="titulo">Calculadora CASIO FX-666</h4> 
                    <p class="precio">$12000</p>
                    <p class="descripcion">
                    Descripcion: Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Ab velit excepturi pariatur quas sed totam earum facilis magnam 
                    id optio sint qui harum voluptatum neque provident ea reiciendis 
                    </p>
                    <br>

                    <div class="detallesDeCompra">
                    <div class="cantidadYCarrito">
                        <div class="cantidad">
                        <label for="">Cantidad: 
                        <input type="number" class="cantidadInput" minlength="0" maxlength="15">
                        </label>
                        </div>
    
                        <div class="carrito">
                            <button type="button" class="botonDetalle"><i class="fas fa-cart-plus"></i> Agregar a carrito</button>
                            
                        </div>
                    </div>

                    <div class="descuentoPC">
                        <div class="descuento2">
                            <label for="" class="textoDescuento">¿Tenés algún código de descuento?</label>
                            <input type="text" class="descuentoInput" placeholder="Ingresá tu código">
                        </div>

                    </div>
    
                    <div class="descuentoYPedido">
                        <!-- <div class="descuento">
                            <input type="text" class="descuentoInput" placeholder="Código de descuento">
                        </div> 
                    esto para qué es??
                    -->
                        <div class="Pedido">
                            <button type="button" class="botonDetalle"><i class="fas fa-truck"></i> Calcular envio</button>
                        </div>
                    </div>

                    <div class="pedidoPC">
                        <div class="pedido2">
                            <label for="" class="calcularEnvio">
                                <input type="text" class="calcularEnvio" placeholder="Ingresá tu código postal"></label>
                            <button type="button" class="bttonEnvio"><i class="fas fa-truck"></i> Calcular envio</button>
                        </div>
                    </div>

                    <div class="compartir">
                        <i class="fas fa-share-alt"></i> Compartir
                    </div>

                    <div class="buttonComprarClass">
                        <a href="/products/cart">
                            <button type="submit" class="buttonComprar"> Comprar </button>
                        </a>
                    </div>
                
                    </div>
            </div>
            </section>
            <section class="productos-relacionados">
                <div>
                    <h4>Productos Relacionados</h4> 
                </div>
                <div class="articulos">
                <article class="prod-relacionado">
                    <div >
                        <img src="../images/cartuchera.jpg" class="cartuchera">
                    </div>
                    <div class="tituloProd">
                        <h3>Titulo producto</h3> 
                    </div>
                </article>
                <article class="prod-relacionado">
                    <div >
                        <img src="../images/marcadores.jpg" class="marcadores">
                    </div>
                    <div class="tituloProd">
                        <h3>Titulo producto</h3> 
                    </div>
                </article>
                <article class="prod-relacionado">
                    <div >
                        <img src="../images/marcadoresPastel.jpg" class="pasteles">
                    </div>
                    <div class="tituloProd">
                        <h3>Titulo producto</h3> 
                    </div>
                </article>
                <article class="prod-relacionado">
                    <div >
                        <img src="../images/tijeras.jpg" class="tijeras">
                    </div>
                    <div class="tituloProd">
                        <h3>Titulo producto</h3> 
                    </div>
                </article>
                </div>
            </section>

            <section class="productos-similares">
                <div>
                    <h4>Productos similares</h4> 
                </div>
                <div class="articulos">
                <article class="prod-similar">
                    <div >
                        <img src="../images/cartuchera.jpg" class="cartuchera">
                    </div>
                    <div class="tituloProd">
                        <h3>Titulo producto</h3> 
                    </div>
                </article>
                <article class="prod-similar">
                    <div >
                        <img src="../images/marcadores.jpg" class="marcadores">
                    </div>
                    <div class="tituloProd">
                        <h3>Titulo producto</h3> 
                    </div>
                </article>
                <article class="prod-similar">
                    <div >
                        <img src="../images/marcadoresPastel.jpg" class="pasteles">
                    </div>
                    <div class="tituloProd">
                        <h3>Titulo producto</h3> 
                    </div>
                </article>
                <article class="prod-similar">
                    <div >
                        <img src="../images/tijeras.jpg" class="tijeras">
                    </div>
                    <div class="tituloProd">
                        <h3>Titulo producto</h3> 
                    </div>
                </article>
                </div>
            </section>
        </main>
        <%- include("../partials/footer") %>
    </body>
</html>
